body {
	background-color: gray;
}
h1 {
	text-align: center; 
	color: lightgray; 
	font-family: "lucida handwriting";
	font-size: 40px;
}
table {
	color: white; 
	font-family: "times new roman"; 
	font-size: 18px;
}
p {
	padding: 25px; 
	background-color: lightgray; 
	margin: 25px; 
	border-style: double; 
	font-family: "times new roman"; 
	font-size: 16px;
}